*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(32, 99, 107);
}

.link-name{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

.link-name:hover{
    cursor: pointer;
    color: rgb(178, 220, 255);

}

/* Extra Background Colors */

.grass {
    background-color: #3fa129;
}
.fire {
    background-color: #e62829;
}
.water {
    background-color: #2980ef;
}
.electric {
    background-color: #fac000;
}
.ice {
    background-color: #3fd8ff;
}
.fighting {
    background-color: #ff8000;
}
.poison {
    background-color: #9141cb;
}
.ground {
    background-color: #915121;
}
.flying {
    background-color: #81b9ef;
}
.psychic {
    background-color: #ef4179;
}
.ghost {
    background-color: #704170;
}
.bug {
    background-color: #91a119;
}
.rock {
    background-color: #afa981;
}
.dragon {
    background-color: #5060e1;
}
.normal {
    background-color: #9fa19f;
}
.fairy {
    background-color: #ef70ef;
}
.dark {
    background-color: #50413f;
}
.steel {
    background-color: #60a1b8;
}